.about {
  background: $easeBlack;
}

.about_box {
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  margin: 0 auto;

  @include breakpoint(medium) {
    flex-direction: row;
    padding-top: 30px;
  }

  @include breakpoint(large) {
    padding-top: 60px;
  }

  @include breakpoint(extralarge) {
    flex-direction: row;
    padding-top: 100px;
  }

  .about_image_box {
    display: block;
    padding: 50px 0 20px;

    @include breakpoint(medium) {
      max-width: 250px;
      padding-right: 25px;
    }

    @include breakpoint(large) {
      max-width: 310px;
      padding-right: 35px;
    }

    @include breakpoint(extralarge) {
      max-width: 365px;
      padding-right: 45px;
      margin: auto 0;
    }
  }

  .about_fest {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0 0 20px;
  }

  .about_fest_text {
    width: 90%;
    margin: 0 auto;
    text-align: left;
    color: $white;

    @include breakpoint(medium) {
      font-size: 14px;
      padding-top: 50px;
      line-height: 24px;
    }

    @include breakpoint(large) {
      font-size: 15px;
      padding-top: 50px;
      max-width: 1065px;
    }

    @include breakpoint(extralarge) {
      padding-top: 60px;
      margin-left: 0;
    }


    >p {
      padding-bottom: 20px;
    }

    .about_movies {
      display: block;
      width: 100%;
      padding-bottom: 5px;

      &.inline {
        display: inline-block;
        width: auto;
      }
    }
  }
}
