$white: #ffffff;
$easeBlack: #0c0c0c;
$hardBlack: #060606;
$middleBlack: #0a0a0a;
$middleBlackOne: #020202;
$bown: #928f86;
$blodRed: #910001;
$blue: #0072ff;
$brow: #300404;

body {
  font-family: 'Avenir';
  background: $easeBlack;
  overflow-x: hidden;
}

span,
p,
b,
li,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: .3px;
  color: $white;

  &.bold {
    font-family: Avenir_Bold;
  }

  &.red {
    color: $blodRed
  }

  &.blue {
    color: $blue;
  }
}

.container {
  padding: 15px 15px 35px;

  @include breakpoint(medium) {
    padding: 25px 25px 45px;
  }

  @include breakpoint(large) {
    padding: 35px 40px 80px;
  }

  @include breakpoint(extralarge) {
    padding: 35px 50px 100px;
  }
}

.blood_block {
  display: block;
  position: absolute;
  width: 180px;
  background: $blodRed;
  padding: 10px 20px;
  text-align: left;

  @include breakpoint(medium) {
    width: 220px;
    padding: 12px 25px;
    font-size: 20px;
  }

  @include breakpoint(large) {
    width: 320px;
    padding: 15px 35px;
    font-size: 30px;
  }

  @include breakpoint(extralarge) {
    width: 400px;
    padding: 20px 45px;
    font-size: 40px;
  }

  &:before {
    content: '';
    position: absolute;
    display: block;
    background: url('../img/other/blood.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  &.top {
  top: -20px;
}

  .bold {
    color: $white;
  }
}


.logo {
  display: inline-block;
  max-width: 90px;
  width: 100%;
  vertical-align: middle;
  margin-right: 5px;

  @include breakpoint(medium) {
    max-width: 110px;
    margin-right: 15px;
  }

  @include breakpoint(medium-lg) {
    max-width: 180px;
  }

  @include breakpoint(large) {
    max-width: 230px;
    margin-right: 30px;
  }

  @include breakpoint(extralarge) {
    max-width: 280px;
    margin-right: 40px;
  }
}