#sync1 .item {
  display: block;
  background: url("../img/bodom.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding:0;
  height: 25vh;
}
#sync2 .item {
  background: #C9C9C9;
  padding: 10px 0px;
  margin: 5px;
  color: #FFF;
  cursor: pointer;
}
#sync2 .current .item {
  background: #0c83e7;
}
.owl-theme .owl-nav {
  /*default owl-theme theme reset .disabled:hover links */
}
.owl-theme .owl-nav [class*='owl-'] {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.owl-theme .owl-nav [class*='owl-'].disabled:hover {
  background-color: #D6D6D6;
}
#sync1.owl-theme {
  position: relative;
}
#sync1.owl-theme .owl-next,
#sync1.owl-theme .owl-prev {
  width: 22px;
  height: 40px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
}
#sync1.owl-theme .owl-prev {
  left: 10px;
}
#sync1.owl-theme .owl-next {
  right: 10px;
}
.owl-prev,
.owl-next {
  display: none !important;
  background: transparent !important;
  fill: $bown;
}

#sync2 {
  display: none;
}