#sync1 .item {
  display: block;
  background: url("../img/bodom.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding:0;
  height: 30vh;

  @include breakpoint(medium) {
    height: 60vh;
  }

  @include breakpoint(large) {
    height: 100vh;
  }
}

#sync2 .item {
  // no active
  padding: 10px 0px;
  margin: 5px;
  color: #FFF;
  cursor: pointer;

}
.owl-theme .owl-nav {
  /*default owl-theme theme reset .disabled:hover links */
}
.owl-theme .owl-nav [class*='owl-'] {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.owl-theme .owl-nav [class*='owl-'].disabled:hover {
  background-color: #D6D6D6;
}
#sync1.owl-theme {
  position: relative;
}
#sync1.owl-theme .owl-next,
#sync1.owl-theme .owl-prev {
  width: 50px;
  margin-top: -20px;
  position: absolute;
  top: 37%;
  @include breakpoint(large) {
    top: 38%;
  }
}
#sync1.owl-theme .owl-prev {
  left: 10px;
@include breakpoint(medium-lg) {
  left: 20px;
}
@include breakpoint(large) {
  left: 50px;
}
}
#sync1.owl-theme .owl-next {
  right: 10px;
@include breakpoint(medium-lg) {
  right: 20px;
}
@include breakpoint(large) {
  right: 50px;
}
}
.owl-prev,
.owl-next {
  display: none !important;
  background: transparent !important;
  fill: $bown;

  @include breakpoint(medium) {
    display: block !important;
  }
}
.owl-prev:hover,
.owl-next:hover {
  fill: $blodRed;
}

#sync2 {
  display: none;

  @include breakpoint(medium) {
    display: block;
  }
}

.owl-nav {
  margin: 0 !important;
}


#sync2 {
  margin-top: -190px;
  .item {
    &:before {
      content: '';
      position: absolute;
      display: block;
      width: 95%;
      height: 95%;
      background: $middleBlackOne;
      opacity: .5;
      z-index: 1;

      @include breakpoint(large) {
        width: 97%;
      }

      @include breakpoint(extralarge) {
        width: 100%;
        height: 98%;
      }
    }
  }

  .owl-stage-outer {
    .owl-stage {
      margin-left: -10%;

      .item {
        top: 50%;
        z-index: 1;
      }
    }
  }
}


#sync2 {
  .current {
    .item {
      position: relative;

      &:before {
        content: 'czytaj więcej';
        position: absolute;
        width: 70px;
        height: 10px;
        opacity: 1;
        right: -7px;
        bottom: 15px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: .4px;
        font-size: 7px;
        color: $white;
        background: $blodRed;
        padding: 7px 5px;
        z-index: 1;

        @include breakpoint(large) {
          width: 100px;
          font-size: 9px;
          padding: 15px 5px;

        }

        @include breakpoint(extralarge) {
          width: 150px;
          font-size: 11px;
          padding: 18px 5px;
          right: -10px;
          bottom: 45px;
        }
      }
    }
  }
}
#sync2 {
  .owl-nav,
  .owl-dots {
    display: none;
  }
}

#sync1 {
  .item {
    .container-text {
      text-transform: uppercase;
      text-align: center;
      opacity: .8;
      font-size: 32px;
      padding-top: 90px;
      letter-spacing: 15px;

      @include breakpoint(medium) {
        letter-spacing: 35px;
        font-size: 100px;
        padding-top: 100px;
      }

      @include breakpoint(large) {
        letter-spacing: 55px;
        font-size: 150px;
        padding-top: 200px;
      }

      @include breakpoint(extralarge) {
        font-size: 204px;
        padding-top: 410px;
      }
    }
  }
}

.container-text {
  background-image:  url(../img/text_background/bodom.png);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-position: center;
  color:  #FFFFFF;
}