.header_container {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding: 10px 15px;
  justify-content: space-between;
  align-items: center;

  @include breakpoint(medium) {
    padding: 12px 25px;
  }

  @include breakpoint(medium-lg) {
    position: absolute;
    z-index: 100;
    padding: 15px 25px;
  }

  @include breakpoint(large) {
    padding: 15px 40px;
  }

  @include breakpoint(extralarge) {
    padding: 15px 50px;
  }

  .pull_left {
    flex: 1 1 60%;

    @include breakpoint(medium-lg) {
      flex: 1 1 30%;
    }

    .header_date {
      position: relative;
      display: inline-block;
      font-size: 12px;
      color: $white;

      @include breakpoint(medium) {
        font-size: 14px;
      }

      @include breakpoint(medium-lg) {
        font-size: 16px;
      }

      @include breakpoint(large) {
        font-size: 20px;
      }

      @include breakpoint(extralarge) {
        font-size: 22px;
      }

      .bold {
        &:before {
          content: '';
          position: absolute;
          height: 80%;
          width: 1px;
          background: $white;
          left: 30px;
          top: 0;
          bottom: 0;
          margin: auto;

          @include breakpoint(medium) {
            left: 33px
          }

          @include breakpoint(medium) {
            left: 38px
          }

          @include breakpoint(large) {
            left: 48px
          }

          @include breakpoint(extralarge) {
            left: 53px
          }
        }
      }

      span {
        &:nth-child(2) {
          padding-left: 7px;
        }
      }
    }
  }

  .pull_right {
  }
}

.fullscreen-navigation {
  display: none;

  @include breakpoint(medium-lg) {
    display: block;
  }

  &.open {
    display: block;
  }
}

.inner-wrap {
  position: absolute;
  width: 100%;
  height: calc(100% - 45px);
  background: $easeBlack;
  left: 0;
  right: 0;
  top: 45px;
  bottom: 0;
  z-index: 100;
  overflow: hidden;

  @include breakpoint(medium-lg) {
    position: relative;
    background: transparent;
    height: auto;
    top: 2px;
  }

  ul {
    text-align: center;
    z-index: 101;
    padding: 25% 0;

    @include breakpoint(medium-lg) {
      padding: 0;
    }

    li {
      padding-bottom: 10px;
      font-size: 18px;

      @include breakpoint(medium) {
        font-size: 20px;
        padding-bottom: 15px;
      }

      @include breakpoint(medium-lg) {
        display: inline-block;
        padding: 0 20px;
        font-size: 20px;
      }

      @include breakpoint(large) {
        display: inline-block;
        padding: 0 25px;
      }
    }
  }
}

// Burger menu button
.burger {
  $width: 28px;
  $thickness: 2px;

  border: 0;
  background: none;
  outline: 0;
  padding: 0;
  cursor: pointer;
  color: $white;

  border-bottom: $thickness solid currentColor;
  width: $width;

  transition: border-bottom 1s ease-in-out;
  -webkit-transition: border-bottom 1s ease-in-out;

  // Fix for extra space in Firefox
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:before {
    content: "";
    color: $white;
    display: block;
    border-bottom: $thickness solid currentColor;
    width: 100%;
    margin-bottom: 5px;
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
  }

  &:after {
    content: "";
    color: $white;
    display: block;
    border-bottom: $thickness solid currentColor;
    width: 100%;
    margin-bottom: 5px;
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
  }

  &.open {
    border-bottom: $thickness solid transparent;
    transition: border-bottom 0.8s ease-in-out;
    -webkit-transition: border-bottom 0.8s ease-in-out;

    &:before {
      transform: rotate(-405deg) translateY(1px) translateX(-1px);
      -webkit-transform: rotate(-405deg) translateY(1px) translateX(-1px);
      transition: transform 0.5s ease-in-out;
      -webkit-transition: -webkit-transform 0.5s ease-in-out;
    }

    &:after {
      transform: rotate(405deg) translateY(-4px) translateX(-4px);
      -webkit-transform: rotate(405deg) translateY(-4px) translateX(-4px);
      transition: transform 0.5s ease-in-out;
      -webkit-transition: -webkit-transform 0.5s ease-in-out;
    }
  }

  @include breakpoint(medium-lg) {
    display: none;
  }
}