.pop_up {
  position: fixed;
  display: none;
  width: 100%;
  z-index: 1;
  background: $middleBlack;
  top: 35px;
  left: 0;
  right: 0;
  margin: 0 auto;

  @include breakpoint(large) {
    top: 45px;
  }

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 50px;

    @include breakpoint(medium) {
      flex-direction: row;
    }
  }
}

.movie_cross {
  position: absolute;
  right: 35px;
  top: 35px;
  fill: $bown;
  width: 20px;
  height: 20px;

  @include breakpoint(large) {
    width: 30px;
    height: 30px;
  }

  @include breakpoint(extralarge) {
    right: 55px;
    top: 55px;
  }
}

.pop_up_left {
  margin: auto auto 25px;

  @include breakpoint(medium) {
    padding-right: 35px;
  }

  .pop_up_image {
    max-width: 220px;

    @include breakpoint(large) {
      max-width: 320px;
    }
  }

  @include breakpoint(large) {
    padding-right: 55px;
  }

  @include breakpoint(extralarge) {
    padding-right: 80px;
  }

  .pop_up_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    font-size: 8px;
  }
}

.pop_up_view {
  display: block;
  background: $brow;
  padding: 10px;
  width: 100%;
  max-height: 45px;
  text-align: center;
  text-transform: uppercase;

  &:hover {
    background: $blodRed;
  }

  @include breakpoint(large) {
    font-family: Avenir_Bold;
    padding: 15px;
    font-size: 12px;
  }
}

.pop_up_right {
  font-size: 14px;

  @include breakpoint(large) {
    max-width: 1065px;
    font-size: 15px;
    margin-left: 0;
  }

  .movie_name_point {
    font-size: 22px;
    padding-bottom: 5px;

    @include breakpoint(large){
      font-size: 28px;
      padding-bottom: 10px;
    }

    @include breakpoint(large){
      font-size: 30px;
    }
  }

  .movie_description {
    padding-bottom: 20px;

    @include breakpoint(large) {
      padding-bottom: 35px;
    }

    > span {
      padding-right: 10px;

      &:not(:last-child) {
        &:before {
            right: 4px;
          }
      }
    }
  }

  .movie_name {
    padding-bottom: 15px;

    @include breakpoint(large) {
      padding-bottom: 35px;
    }

    .movie_obsada {
      display: block;
      padding-bottom: 5px;
    }
    > span {
      padding-right: 20px;
      &:not(:last-child) {
        &:before {
          right: 10px;
        }
      }
    }
  }

  .movie_short {
    padding-bottom: 20px;

    @include breakpoint(large) {
      padding-bottom: 35px;
    }
  }

  .movie_press {
    padding-bottom: 5px;

    @include breakpoint(extralarge) {
      padding-bottom: 8px;
    }
  }
}

.movie_skin {
  padding: 25px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include breakpoint(large) {
    padding: 45px 0 0;
  }

  .movie_skin_one {
    flex: 1 1 25%;
    display: inline-block;
    width: 20%;
    height: 100%;
    padding-right: 5px;

    @include breakpoint(large) {
      padding-right: 15px;
    }
  }
}

.white_sepo {
  display: inline-block;
  position: relative;

  &:not(:last-child) {
    &:before {
      content: '';
      position: absolute;
      height: 80%;
      width: 1px;
      background: $white;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
}
